<h1>Cocktails</h1>

<div class ="card">
<% @cocktails.each do |cocktail| %>

<%= cocktail[:name] %>
<%= link_to "show", cocktail_path(cocktail[:id]) %>
<%= link_to "delete", cocktail_path(cocktail[:id]), method: :delete, data: {confirm: "Are you sure?" } %>

<%end%>
</div>
<%= link_to "add new Cocktail", new_cocktail_path %>

