<h1>New Dose/h1>

<%= form_with model: dose do |form| %>
  <div>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<%end%>